# Ignore all files and directories except those needed
.*

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore development and test files
build.sh
*.md
tests/
docs/

# Ignore any other unnecessary files
.dockerignore
Dockerfile
docker-compose*.yaml